{{! We can have expression within Handlebars expression using parentheses. }}
{{! We use helpers called hash and component. }}
<div style="border: 1px solid black">
    {{yield (hash
        title=(component 'atx-page-header/title')
        subtitle=(component 'atx-page-header/subtitle')
        info=(component 'atx-page-header/info')
    )}}
</div>